:root {
  --vue-entity-table-aside-width: 360px;
  --vue-entity-table-surface-a: #fff;
  --vue-entity-table-surface-b: #efefef;
  --vue-entity-table-surface-c: #e9ecef;
  --vue-entity-table-surface-d: #dee2e6;
  --vue-entity-table-surface-e: #fff;
  --vue-entity-table-surface-f: #fff;
  --vue-entity-table-text-color: #212529;
  --vue-entity-table-text-color-secondary: #6c757d;
  --vue-entity-table-primary-color: #00a3ff;
  --vue-entity-table-primary-color-text: #fff;
  --vue-entity-table-font-family: 'Inter';
  --vue-entity-table-surface-0: #fff;
  --vue-entity-table-surface-50: #f9fafb;
  --vue-entity-table-surface-100: #f8f9fa;
  --vue-entity-table-surface-200: #e9ecef;
  --vue-entity-table-surface-300: #dee2e6;
  --vue-entity-table-surface-400: #ced4da;
  --vue-entity-table-surface-500: #adb5bd;
  --vue-entity-table-surface-600: #6c757d;
  --vue-entity-table-surface-700: #495057;
  --vue-entity-table-surface-800: #343a40;
  --vue-entity-table-surface-900: #212529;
  --vue-entity-table-gray-50: #f9fafb;
  --vue-entity-table-gray-100: #f8f9fa;
  --vue-entity-table-gray-200: #e9ecef;
  --vue-entity-table-gray-300: #dee2e6;
  --vue-entity-table-gray-400: #ced4da;
  --vue-entity-table-gray-500: #adb5bd;
  --vue-entity-table-gray-600: #6c757d;
  --vue-entity-table-gray-700: #495057;
  --vue-entity-table-gray-800: #343a40;
  --vue-entity-table-gray-900: #212529;
  --vue-entity-table-content-padding: 1.25rem;
  --vue-entity-table-inline-spacing: 0.5rem;
  --vue-entity-table-border-radius: 4px;
  --vue-entity-table-surface-ground: #efefef;
  --vue-entity-table-surface-section: #fff;
  --vue-entity-table-surface-card: #fff;
  --vue-entity-table-surface-overlay: #fff;
  --vue-entity-table-surface-border: #dee2e6;
  --vue-entity-table-surface-hover: rgba(0, 0, 0, 0.02);
  --vue-entity-table-focus-ring: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  --vue-entity-table-maskbg: rgba(0, 0, 0, 0.4);
  --vue-entity-table-highlight-bg: transparent;
  --vue-entity-table-highlight-text-color: #00a3ff;
  --vue-entity-table-blue-50: #f3f8ff;
  --vue-entity-table-blue-100: #c5dcff;
  --vue-entity-table-blue-200: #97c1fe;
  --vue-entity-table-blue-300: #69a5fe;
  --vue-entity-table-blue-400: #3b8afd;
  --vue-entity-table-blue-500: #0d6efd;
  --vue-entity-table-blue-600: #0b5ed7;
  --vue-entity-table-blue-700: #094db1;
  --vue-entity-table-blue-800: #073d8b;
  --vue-entity-table-blue-900: #052c65;
  --vue-entity-table-green-50: #f4f9f6;
  --vue-entity-table-green-100: #c8e2d6;
  --vue-entity-table-green-200: #9ccbb5;
  --vue-entity-table-green-300: #70b595;
  --vue-entity-table-green-400: #459e74;
  --vue-entity-table-green-500: #198754;
  --vue-entity-table-green-600: #157347;
  --vue-entity-table-green-700: #125f3b;
  --vue-entity-table-green-800: #0e4a2e;
  --vue-entity-table-green-900: #0a3622;
  --vue-entity-table-yellow-50: #fffcf3;
  --vue-entity-table-yellow-100: #fff0c3;
  --vue-entity-table-yellow-200: #ffe494;
  --vue-entity-table-yellow-300: #ffd965;
  --vue-entity-table-yellow-400: #ffcd36;
  --vue-entity-table-yellow-500: #ffc107;
  --vue-entity-table-yellow-600: #d9a406;
  --vue-entity-table-yellow-700: #b38705;
  --vue-entity-table-yellow-800: #8c6a04;
  --vue-entity-table-yellow-900: #664d03;
  --vue-entity-table-cyan-50: #f3fcfe;
  --vue-entity-table-cyan-100: #c5f2fb;
  --vue-entity-table-cyan-200: #97e8f9;
  --vue-entity-table-cyan-300: #69def6;
  --vue-entity-table-cyan-400: #3bd4f3;
  --vue-entity-table-cyan-500: #0dcaf0;
  --vue-entity-table-cyan-600: #0baccc;
  --vue-entity-table-cyan-700: #098da8;
  --vue-entity-table-cyan-800: #076f84;
  --vue-entity-table-cyan-900: #055160;
  --vue-entity-table-pink-50: #fdf5f9;
  --vue-entity-table-pink-100: #f5cee1;
  --vue-entity-table-pink-200: #eda7ca;
  --vue-entity-table-pink-300: #e681b3;
  --vue-entity-table-pink-400: #de5a9b;
  --vue-entity-table-pink-500: #d63384;
  --vue-entity-table-pink-600: #b62b70;
  --vue-entity-table-pink-700: #96245c;
  --vue-entity-table-pink-800: #761c49;
  --vue-entity-table-pink-900: #561435;
  --vue-entity-table-indigo-50: #f7f3fe;
  --vue-entity-table-indigo-100: #dac6fc;
  --vue-entity-table-indigo-200: #bd98f9;
  --vue-entity-table-indigo-300: #a06bf7;
  --vue-entity-table-indigo-400: #833df4;
  --vue-entity-table-indigo-500: #6610f2;
  --vue-entity-table-indigo-600: #570ece;
  --vue-entity-table-indigo-700: #470ba9;
  --vue-entity-table-indigo-800: #380985;
  --vue-entity-table-indigo-900: #290661;
  --vue-entity-table-teal-50: #f4fcfa;
  --vue-entity-table-teal-100: #c9f2e6;
  --vue-entity-table-teal-200: #9fe8d2;
  --vue-entity-table-teal-300: #75debf;
  --vue-entity-table-teal-400: #4ad3ab;
  --vue-entity-table-teal-500: #20c997;
  --vue-entity-table-teal-600: #1bab80;
  --vue-entity-table-teal-700: #168d6a;
  --vue-entity-table-teal-800: #126f53;
  --vue-entity-table-teal-900: #0d503c;
  --vue-entity-table-orange-50: #fff9f3;
  --vue-entity-table-orange-100: #ffe0c7;
  --vue-entity-table-orange-200: #fec89a;
  --vue-entity-table-orange-300: #feaf6d;
  --vue-entity-table-orange-400: #fd9741;
  --vue-entity-table-orange-500: #fd7e14;
  --vue-entity-table-orange-600: #d76b11;
  --vue-entity-table-orange-700: #b1580e;
  --vue-entity-table-orange-800: #8b450b;
  --vue-entity-table-orange-900: #653208;
  --vue-entity-table-bluegray-50: #f8f9fb;
  --vue-entity-table-bluegray-100: #e0e4ea;
  --vue-entity-table-bluegray-200: #c7ced9;
  --vue-entity-table-bluegray-300: #aeb9c8;
  --vue-entity-table-bluegray-400: #95a3b8;
  --vue-entity-table-bluegray-500: #7c8ea7;
  --vue-entity-table-bluegray-600: #69798e;
  --vue-entity-table-bluegray-700: #576375;
  --vue-entity-table-bluegray-800: #444e5c;
  --vue-entity-table-bluegray-900: #323943;
  --vue-entity-table-purple-50: #f8f6fc;
  --vue-entity-table-purple-100: #dcd2f0;
  --vue-entity-table-purple-200: #c1aee4;
  --vue-entity-table-purple-300: #a68ad9;
  --vue-entity-table-purple-400: #8a66cd;
  --vue-entity-table-purple-500: #6f42c1;
  --vue-entity-table-purple-600: #5e38a4;
  --vue-entity-table-purple-700: #4e2e87;
  --vue-entity-table-purple-800: #3d246a;
  --vue-entity-table-purple-900: #2c1a4d;
  --vue-entity-table-red-50: #fdf5f6;
  --vue-entity-table-red-100: #f7cfd2;
  --vue-entity-table-red-200: #f0a8af;
  --vue-entity-table-red-300: #e9828c;
  --vue-entity-table-red-400: #e35b68;
  --vue-entity-table-red-500: #dc3545;
  --vue-entity-table-red-600: #bb2d3b;
  --vue-entity-table-red-700: #9a2530;
  --vue-entity-table-red-800: #791d26;
  --vue-entity-table-red-900: #58151c;
  --vue-entity-table-primary-50: #e6f6ff;
  --vue-entity-table-primary-100: #ccedff;
  --vue-entity-table-primary-200: #99daff;
  --vue-entity-table-primary-300: #66c8ff;
  --vue-entity-table-primary-400: #33b5ff;
  --vue-entity-table-primary-500: #00a3ff;
  --vue-entity-table-primary-600: #0082cc;
  --vue-entity-table-primary-700: #006299;
  --vue-entity-table-primary-800: #004166;
  --vue-entity-table-primary-900: #002133;
}
